'telecom.csv'

In [1]:
# preprocessing here

In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv('telecom.csv')

In [3]:
df.nunique()

customerID          6000
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1519
TotalCharges        5622
Churn                  2
dtype: int64

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7853-GVUDZ,Female,0,Yes,Yes,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Credit card (automatic),20.15,20.15,Yes
1,6893-ODYYE,Male,0,No,No,50,Yes,No,Fiber optic,Yes,...,Yes,Yes,No,No,One year,Yes,Credit card (automatic),90.10,4549.45,No
2,0486-HECZI,Male,0,Yes,No,55,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,96.75,5238.9,Yes
3,8972-HJWNV,Female,1,Yes,No,7,Yes,Yes,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,84.55,646.85,Yes
4,9317-WZPGV,Female,1,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic),79.75,159.4,Yes

In [5]:

df['Churn'].replace({'Yes':1,'No':0}, inplace=True)

In [6]:
df1=pd.get_dummies(df[['gender','Partner','Dependents','PhoneService','MultipleLines','PaperlessBilling','InternetService','OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingMovies','StreamingTV','Contract','PaymentMethod']])

In [7]:
df1.head()

,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,MultipleLines_No,MultipleLines_No phone service,...,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,0,1,0,1,0,1,1,0,...,0,1,0,1,0,0,0,1,0,0
1,0,1,1,0,1,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0
2,0,1,0,1,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,0
3,1,0,0,1,1,0,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
4,1,0,1,0,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,0

In [8]:
y=df["Churn"]

In [9]:
df=df.drop(['Churn','customerID','gender','Partner','Dependents','PhoneService','MultipleLines','PaperlessBilling','InternetService','OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingMovies','StreamingTV','Contract','PaymentMethod'], axis=1)

In [10]:
df['TotalCharges'] = df['TotalCharges'].apply(pd.to_numeric,errors='coerce')

In [11]:
df=pd.merge(df, df1, left_index=True, right_index=True)
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,20.15,20.15,1,0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0
1,0,50,90.10,4549.45,0,1,1,0,1,0,...,1,0,0,0,1,0,0,1,0,0
2,0,55,96.75,5238.90,0,1,0,1,1,0,...,0,0,1,1,0,0,0,0,1,0
3,1,7,84.55,646.85,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,1,0
4,1,2,79.75,159.40,1,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0

In [12]:
is_NaN=df.isnull()
row_has_NaN=is_NaN.any(axis=1)
df[row_has_NaN]

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
502,0,0,73.35,NaN,1,0,0,1,0,1,...,0,0,1,0,0,1,0,0,0,1
1062,0,0,56.05,NaN,1,0,0,1,0,1,...,0,0,1,0,0,1,0,1,0,0
1547,0,0,25.75,NaN,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
2194,0,0,61.90,NaN,0,1,1,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3004,0,0,20.00,NaN,1,0,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3126,0,0,80.85,NaN,1,0,0,1,0,1,...,0,0,1,0,0,1,0,0,0,1
3897,0,0,20.25,NaN,0,1,1,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4687,0,0,52.55,NaN,1,0,0,1,0,1,...,0,0,1,0,0,1,1,0,0,0
5425,0,0,19.85,NaN,0,1,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
5737,0,0,19.70,NaN,0,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1

In [13]:
df.fillna(value=np.mean(df['TotalCharges']), inplace=True)

In [14]:
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,20.15,20.15,1,0,0,1,0,1,...,0,1,0,1,0,0,0,1,0,0
1,0,50,90.10,4549.45,0,1,1,0,1,0,...,1,0,0,0,1,0,0,1,0,0
2,0,55,96.75,5238.90,0,1,0,1,1,0,...,0,0,1,1,0,0,0,0,1,0
3,1,7,84.55,646.85,1,0,0,1,1,0,...,1,0,0,1,0,0,0,0,1,0
4,1,2,79.75,159.40,1,0,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0

Split data into 2 parts, take the small one as the final test. You will be using for each model's final evaluation

In [15]:
data=df[:5000]
churn=y[:5000]

In [16]:
data1=df[5000:]
churn1=y[5000:]

# Build 5 classification models

logistic regression, decision tree, random forest, knn, svm

#### tips
<br>
1. use cross validation
<br>
2. use same splits for all classifiers (to have correct comparison)
<br>
3. build a table to show statistics for all classifiers (at least - accuracy, precision and recall. Any more component would be a +. For train - at least accuracy)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold

### Logistic regression

In [41]:
kf = KFold(n_splits=5)
lr_tr_accuracy = []
lr_tr_precision = []
lr_tr_recall=[]
lr_ts_accuracy = []
lr_ts_precision = []
lr_ts_recall=[]

for train_index, test_index in kf.split(data):
    X_train, X_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = churn[train_index], churn[test_index]
    
    lr = LogisticRegression(max_iter=500).fit(X_train, y_train)
    predictions = lr.predict(X_test)
    predictions_train = lr.predict(X_train)
    
    test_accuracy=accuracy_score(y_test,predictions)
    test_precision=precision_score(y_test,predictions)
    test_recall=recall_score(y_test,predictions)
    
    #print("TEST ACCURACY:", test_accuracy, "TEST PRECISION", test_precision, "TEST RECALL", test_recall)
    
    train_accuracy=accuracy_score(y_train,predictions_train)
    train_precision=precision_score(y_train,predictions_train)
    train_recall=recall_score(y_train,predictions_train)
    
    #print("TRAIN ACCURACY:", train_accuracy, "TRAIN PRECISION", train_precision, "TRAIN RECALL", train_recall)
    
    lr_tr_accuracy.append(train_accuracy)
    lr_tr_precision.append(train_precision)
    lr_tr_recall.append(train_recall)
    
    lr_ts_accuracy.append(test_accuracy)
    lr_ts_precision.append(test_precision)
    lr_ts_recall.append(test_recall)

#print('\n')
print("MEAN TEST ACCURACY:", np.mean(lr_ts_accuracy), "MEAN TEST PRECISION", np.mean(lr_ts_precision), "MEAN TEST RECALL", np.mean(lr_ts_recall))
print("MEAN TRAIN ACCURACY:", np.mean(lr_tr_accuracy), "TRAIN PRECISION", np.mean(lr_tr_precision), "TRAIN RECALL", np.mean(lr_tr_recall))

MEAN TEST ACCURACY: 0.8030000000000002 MEAN TEST PRECISION 0.6485204688343249 MEAN TEST RECALL 0.532767747302678
MEAN TRAIN ACCURACY: 0.8082499999999999 TRAIN PRECISION 0.6579722542048563 TRAIN RECALL 0.5455253051563991

### Decision Tree

In [49]:
kf = KFold(n_splits=5)
dt_tr_accuracy = []
dt_tr_precision = []
dt_tr_recall=[]
dt_ts_accuracy = []
dt_ts_precision = []
dt_ts_recall=[]

for train_index, test_index in kf.split(data):
    X_train, X_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = churn[train_index], churn[test_index]
    
    dt = DecisionTreeClassifier().fit(X_train, y_train)
    predictions = dt.predict(X_test)
    dt_predictions_train = dt.predict(X_train)
    
    test_accuracy=accuracy_score(y_test,predictions)
    test_precision=precision_score(y_test,predictions)
    test_recall=recall_score(y_test,predictions)
    
    #print("TEST ACCURACY:", test_accuracy, "TEST PRECISION", test_precision, "TEST RECALL", test_recall)
    
    train_accuracy=accuracy_score(y_train,predictions_train)
    train_precision=precision_score(y_train,predictions_train)
    train_recall=recall_score(y_train,predictions_train)
    
    #print("TRAIN ACCURACY:", train_accuracy, "TRAIN PRECISION", train_precision, "TRAIN RECALL", train_recall)
    
    dt_tr_accuracy.append(train_accuracy)
    dt_tr_precision.append(train_precision)
    dt_tr_recall.append(train_recall)
    
    dt_ts_accuracy.append(test_accuracy)
    dt_ts_precision.append(test_precision)
    dt_ts_recall.append(test_recall)

#print('\n')
print("MEAN TEST ACCURACY:", np.mean(dt_ts_accuracy), "MEAN TEST PRECISION", np.mean(dt_ts_precision), "MEAN TEST RECALL", np.mean(dt_ts_recall))
print("MEAN TRAIN ACCURACY:", np.mean(dt_tr_accuracy), "TRAIN PRECISION", np.mean(dt_tr_precision), "TRAIN RECALL", np.mean(dt_tr_recall))

MEAN TEST ACCURACY: 0.7352000000000001 MEAN TEST PRECISION 0.4914740623873913 MEAN TEST RECALL 0.5164092186894718
MEAN TRAIN ACCURACY: 0.7188000000000001 TRAIN PRECISION 0.4485576923076923 TRAIN RECALL 0.35965930320589967

### Random Forest

In [99]:
kf = KFold(n_splits=5)
rf_tr_accuracy = []
rf_tr_precision = []
rf_tr_recall=[]
rf_ts_accuracy = []
rf_ts_precision = []
rf_ts_recall=[]

for train_index, test_index in kf.split(data):
    X_train, X_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = churn[train_index], churn[test_index]
    
    rf = RandomForestClassifier(max_depth=5).fit(X_train, y_train)
    predictions = rf.predict(X_test)
    dt_predictions_train = rf.predict(X_train)
    
    test_accuracy=accuracy_score(y_test,predictions)
    test_precision=precision_score(y_test,predictions)
    test_recall=recall_score(y_test,predictions)
    
    #print("TEST ACCURACY:", test_accuracy, "TEST PRECISION", test_precision, "TEST RECALL", test_recall)
    
    train_accuracy=accuracy_score(y_train,predictions_train)
    train_precision=precision_score(y_train,predictions_train)
    train_recall=recall_score(y_train,dt_predictions_train)
    
    #print("TRAIN ACCURACY:", train_accuracy, "TRAIN PRECISION", train_precision, "TRAIN RECALL", train_recall)
    
    rf_tr_accuracy.append(train_accuracy)
    rf_tr_precision.append(train_precision)
    rf_tr_recall.append(train_recall)
    
    rf_ts_accuracy.append(test_accuracy)
    rf_ts_precision.append(test_precision)
    rf_ts_recall.append(test_recall)

#print('\n')
print("MEAN TEST ACCURACY:", np.mean(rf_ts_accuracy), "MEAN TEST PRECISION", np.mean(rf_ts_precision), "MEAN TEST RECALL", np.mean(rf_ts_recall))
print("MEAN TRAIN ACCURACY:", np.mean(rf_tr_accuracy), "TRAIN PRECISION", np.mean(rf_tr_precision), "TRAIN RECALL", np.mean(rf_tr_recall))

MEAN TEST ACCURACY: 0.7968000000000001 MEAN TEST PRECISION 0.6750556312295729 MEAN TEST RECALL 0.42242305714643846
MEAN TRAIN ACCURACY: 0.7487000000000001 TRAIN PRECISION 0.518640350877193 TRAIN RECALL 0.45700854068455615

### SVM

In [36]:
    kf = KFold(n_splits=5)
    svm_tr_accuracy = []
    svm_tr_precision = []
    svm_tr_recall=[]
    svm_ts_accuracy = []
    svm_ts_precision = []
    svm_ts_recall=[]

    for train_index, test_index in kf.split(data):
        X_train, X_test = data.iloc[train_index], data.iloc[test_index]
        y_train, y_test = churn[train_index], churn[test_index]

        sv = svm.SVC(kernel='linear').fit(X_train, y_train)
        predictions = sv.predict(X_test)
        predictions_train = sv.predict(X_train)

        test_accuracy=accuracy_score(y_test,predictions)
        test_precision=precision_score(y_test,predictions)
        test_recall=recall_score(y_test,predictions)

        #print("TEST ACCURACY:", test_accuracy, "TEST PRECISION", test_precision, "TEST RECALL", test_recall)

        train_accuracy=accuracy_score(y_train,predictions_train)
        train_precision=precision_score(y_train,predictions_train)
        train_recall=recall_score(y_train,predictions_train)

        #print("TRAIN ACCURACY:", train_accuracy, "TRAIN PRECISION", train_precision, "TRAIN RECALL", train_recall)

        svm_tr_accuracy.append(train_accuracy)
        svm_tr_precision.append(train_precision)
        svm_tr_recall.append(train_recall)

        svm_ts_accuracy.append(test_accuracy)
        svm_ts_precision.append(test_precision)
        svm_ts_recall.append(test_recall)

    #print('\n')
    print("MEAN TEST ACCURACY:", np.mean(svm_ts_accuracy), "MEAN TEST PRECISION", np.mean(svm_ts_precision), "MEAN TEST RECALL", np.mean(svm_ts_recall))
    print("MEAN TRAIN ACCURACY:", np.mean(svm_tr_accuracy), "TRAIN PRECISION", np.mean(svm_tr_precision), "TRAIN RECALL", np.mean(svm_tr_recall))

MEAN TEST ACCURACY: 0.7962 MEAN TEST PRECISION 0.6672724112599602 MEAN TEST RECALL 0.43341642404773373
MEAN TRAIN ACCURACY: 0.80235 TRAIN PRECISION 0.6828319720903135 TRAIN RECALL 0.4466505195472589

### KNN

In [93]:
kf = KFold(n_splits=5)
knn_tr_accuracy = []
knn_tr_precision = []
knn_tr_recall=[]
knn_ts_accuracy = []
knn_ts_precision = []
knn_ts_recall=[]

for train_index, test_index in kf.split(data):
    X_train, X_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = churn[train_index], churn[test_index]
    
    knn=KNeighborsClassifier(n_neighbors=5).fit(X_train, y_train)
    predictions = knn.predict(X_test)
    predictions_train = knn.predict(X_train)
    
    test_accuracy=accuracy_score(y_test,predictions)
    test_precision=precision_score(y_test,predictions)
    test_recall=recall_score(y_test,predictions)
    
    #print("TEST ACCURACY:", test_accuracy, "TEST PRECISION", test_precision, "TEST RECALL", test_recall)
    
    train_accuracy=accuracy_score(y_train,predictions_train)
    train_precision=precision_score(y_train,predictions_train)
    train_recall=recall_score(y_train,predictions_train)
    
    #print("TRAIN ACCURACY:", train_accuracy, "TRAIN PRECISION", train_precision, "TRAIN RECALL", train_recall)
    
    knn_tr_accuracy.append(train_accuracy)
    knn_tr_precision.append(train_precision)
    knn_tr_recall.append(train_recall)
    
    knn_ts_accuracy.append(test_accuracy)
    knn_ts_precision.append(test_precision)
    knn_ts_recall.append(test_recall)

#print('\n')
print("MEAN TEST ACCURACY:", np.mean(knn_ts_accuracy), "MEAN TEST PRECISION", np.mean(knn_ts_precision), "MEAN TEST RECALL", np.mean(knn_ts_recall))
print("MEAN TRAIN ACCURACY:", np.mean(knn_tr_accuracy), "TRAIN PRECISION", np.mean(knn_tr_precision), "TRAIN RECALL", np.mean(knn_tr_recall))

MEAN TEST ACCURACY: 0.7676000000000001 MEAN TEST PRECISION 0.568982345148104 MEAN TEST RECALL 0.43420894589288717
MEAN TRAIN ACCURACY: 0.8331 TRAIN PRECISION 0.7272824491908125 TRAIN RECALL 0.5719515878224188

### Testing

In [84]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=1/6)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(5000, 45) (5000,)
(1000, 45) (1000,)

In [100]:
lst=[LogisticRegression(max_iter=500),DecisionTreeClassifier(),RandomForestClassifier(max_depth=5),svm.SVC(kernel='linear'),KNeighborsClassifier(n_neighbors=5)]
for i in lst:
    model=i.fit(X_train, y_train)
    predictions = model.predict(X_test)
    predictions_train = model.predict(X_train)

    test_accuracy=accuracy_score(y_test,predictions)
    test_precision=precision_score(y_test,predictions)
    test_recall=recall_score(y_test,predictions)

    #print(str(i).split('(')[0], "TEST ACCURACY:", round(test_accuracy,3), "TEST PRECISION", round(test_precision,3), "TEST RECALL", round(test_recall,3))
    
    train_accuracy=accuracy_score(y_train,predictions_train)
    train_precision=precision_score(y_train,predictions_train)
    train_recall=recall_score(y_train,predictions_train)
          
    #print(str(i).split('(')[0], "TRAIN ACCURACY:", round(train_accuracy,3), "TRAIN PRECISION", round(train_precision,3), "TRAIN RECALL", round(train_recall,3))
    d = {str(i).split('(')[0]: [round(test_accuracy,3),round(train_accuracy,3),round(test_precision,3),round(train_precision,3),round(test_recall,3),round(train_recall,3)]}
    table=pd.DataFrame.from_dict(d, orient='index',columns=['Test Accuracy','Train Accuracy', 'Test Precision', 'Train Precision', 'Test Recall','Train Recall'])  
    table.append(d, ignore_index=True)
    print(table)

                    Test Accuracy  Train Accuracy  Test Precision  \
LogisticRegression          0.802           0.811           0.668

                    Train Precision  Test Recall  Train Recall
LogisticRegression            0.666        0.508         0.536
                        Test Accuracy  Train Accuracy  Test Precision  \
DecisionTreeClassifier          0.752           0.998           0.535

                        Train Precision  Test Recall  Train Recall
DecisionTreeClassifier            0.999        0.523         0.993
                        Test Accuracy  Train Accuracy  Test Precision  \
RandomForestClassifier          0.801           0.809           0.722

                        Train Precision  Test Recall  Train Recall
RandomForestClassifier            0.707         0.41         0.444
     Test Accuracy  Train Accuracy  Test Precision  Train Precision  \
SVC          0.789           0.802           0.669            0.681

     Test Recall  Train Recall
SVC         0.41         0.441
                      Test Accuracy  Train Accuracy  Test Precision  \
KNeighborsClassifier          0.751           0.836           0.545

                      Train Precision  Test Recall  Train Recall
KNeighborsClassifier            0.728        0.387         0.582

#### choose the best model. Either retrain it or copy it in the cell below

In [ ]:
final_model= svm.SVC(kernel='linear').fit(df, y)